name: Build and Push to Aliyun ACR

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 登录阿里云 ACR
      - name: Login to Aliyun ACR
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.ACR_REGISTRY }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      # 构建并推送
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            crpi-7h9t5w70xw89ws9k.cn-beijing.personal.cr.aliyuncs.com/node_docker_demo1/node_docker_demo1:latest
            crpi-7h9t5w70xw89ws9k.cn-beijing.personal.cr.aliyuncs.com/node_docker_demo1/node_docker_demo1:${{ github.sha }}